asgiref==3.3.1
attrs==19.3.0
audio-metadata==0.11.1
bidict==0.21.2
bitstruct==8.11.1
certifi==2022.12.7
chardet==4.0.0
dj-database-url==0.5.0
Django==3.2.24
django-classy-tags==2.0.0
django-cms==3.8.0
django-filer==2.0.2
django-filter==2.4.0
django-formtools==2.2
django-js-asset==1.2.2
django-licensing==1.0.4
django-mptt==0.10.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-treebeard==4.3
djangocms-admin-style==2.0.2
djangocms-attributes-field==2.0.0
djangocms-column==1.11.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-installer==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-snippet==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
djangorestframework==3.12.2
easy-thumbnails==2.7.1
html5lib==1.1
idna==2.10
importlib-metadata==3.3.0
Markdown==3.3.3
more-itertools==8.6.0
mysqlclient==2.2.4
pendulum==2.1.2
pillow==10.2.0
pprintpp==0.4.0
python-dateutil==2.8.1
pytz==2019.1
pytzdata==2020.1
requests==2.25.1
six==1.12.0
sqlparse==0.3.0
tbm-utils==2.6.0
typing-extensions==3.7.4.3
tzlocal==1.5.1
Unidecode==1.0.23
urllib3==1.26.5
webencodings==0.5.1
wrapt==1.12.1
zipp==3.4.0
