{% extends "patches/base_list.html" %}

{% block title %}
Recording Comparison
{% endblock %}

{% block list_body %}

<div class="col-auto entry-header">
    {% include "patches/header.html" with choice="compare" %}
</div>



<!-- TODO: temporary -->
<div class="entry">
{% for q in question_list %}
<a href="{% url 'patches:compare' q.pk %}">{{q.question}}</a><br>
{% endfor %}
</div>

{% if patch_entries %}
    {% include "patches/entry.html" with entry=patch_entries.0 collapse=True hide_image=True hide_info=True %}
{% elif question %}       
    Could not retrieve comparison options
{%endif%}
    <div class="entry-question">
    <h2>
    {% if question %}
    {{ question.question }}
    {% if patch_entries%}
    <form action="{%url 'patches:compare' question.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{question.pk}}">
        <input type="hidden" name="entry_a_id" value="{{patch_entries.0.pk}}">
        <input type="hidden" name="entry_b_id" value="{{patch_entries.1.pk}}">

        <button type="submit" name="answer" value="a" class="compare-button">{{question.answer_a}}</button>
    / 
        <button type="submit" name="answer" value="b" class="compare-button">{{question.answer_b}}</button>   
    / 
        <button type="submit" name="answer" value="skip" class="compare-button">Skip</button>   
 
    </form>
    {% endif %}
    {%else%}
    No matching comparison question
    {%endif%}
     </h2>
    </div>

{% if patch_entries %}
    {% include "patches/entry.html" with entry=patch_entries.1 collapse=True hide_image=True hide_info=True %}       
{% endif %}

{% endblock %}
