{% extends "patches/base_list.html" %}
{% block title %}
Audio File: {{patchentry.name}}
{% endblock %}



{% block list_body %}
<div class="col-auto entry-header">
    {% include "patches/header.html" with choice="" %}
</div>

{% include "patches/entry.html" with entry=patchentry collapse=False%}

<div class="entry-question">
    <h2>Similar Audio Files<h2>
</div>

{% for answer in similar %}
{%widthratio answer.get_score 1 100 %}% ({{answer.count_a}} / {{answer.count_b|add:answer.count_a}})
{% include "patches/entry.html" with entry=answer.entryB collapse=True%}
{% endfor %}

{% endblock %}
	
