
<div class="container-fluid entry accordion" id="accordion-{{entry.id}}" {% if collapse %}data-toggle="collapse" data-target="#collapse-{{entry.id}}" {%endif%}>

    <div class="row">
        <div class = "col-auto">

            <div class = "carousel slide carousel-fade" id="carousel-entry-{{entry.id}}" data-ride="carousel">

                <div class = "carousel-inner">

                    {% for image in entry.images.all %}
                    <div class = "carousel-item{% if forloop.first%} active{% endif %}" style="max-width:128px">
                        <a href = "{{image.image.url}}">
                            <img src = "{{image.image.url}}" class="thumbnail">
                        </a>
                    </div>
                    {% endfor %}
                    <!--
        <a href = "{{entry.images.all.first.image.url}}">
            <img src = "{{entry.images.all.first.image.url}}" class="thumbnail">
            </a>
            -->

                </div>

                <a class="carousel-control-prev" href="#carousel-entry-{{entry.id}}" data-slide="prev" role="button">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-entry-{{entry.id}}" data-slide="next" role="button">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>



            </div>

        </div>

        <div class = "col">
            <div class = "row">
            <h3>
                 <a href = {% url 'patches:detail' entry.id %}>               
                {{entry.name}}
                </a>
            <h3>
            <h3 class = "entry-date">
                {{entry.date}}
            </h3>
            </div>
        <audio controls src="{{entry.recording.url}}" style="width:100%"></audio><br>

        {% if entry.authors.all%}
        {% for author in entry.authors.all %}
        <a href = "{{request.path}}?author={{author.author.display_name}}">{{author.author.display_name}}</a>
        {% endfor %}
        {% else %}
        No Authors
        {% endif %}
        <br>
 

        {% if entry.tags.all %}
        Tags: {% for tag in entry.tags.all %}
        <a href = "{{request.path}}?tag={{tag.name}}">{{tag.name}}</a> |
        {% endfor %}
        {% else %}
        No Tags
        {% endif %}
        <br>


        </div>
    </div>

    <div class = "row {% if collapse %}collapse{%endif%}" id = "collapse-{{entry.id}}">
        <div class = "col">
        <h3> Description </h3>
        <p>
        {{entry.desc}}
        </p>

        <h3>Attachments</h3>
        <ul>
        {% if entry.attachments.all%}

            {% for attach in entry.attachments.all %}
            <li><a href="{{attach.file.url}}"> {{attach.filename}} </a><br></li>
            {% endfor %}
        {% else %}
            No Attachments
        {% endif %}
        </ul>

        <h3>Associated Repositories</h3>
        <ul>
        {% if entry.repo_attachments.all%}

            {% for attach in entry.repo_attachments.all %}
            <li>{{attach.filename}}<br></li>
            {% endfor %}
        {% else %}
            No Associated Repositories
        {% endif %}
        </ul>



        </div>
    </div>

</div>
