
<div class="container-fluid entry accordion" id="accordion-{{entry.id}}" data-toggle="collapse" data-target="#collapse-{{entry.id}}">

    <div class="row">
        <div class = "col-auto">
        <a href = "{{entry.images.all.first.image.url}}">
            <img src = "{{entry.images.all.first.image.url}}" class="thumbnail">
        </a>
        </div>

        <div class = "col">
            <div class = "row">
            <h3>
                 <a href = {% url 'patches:detail' entry.id %}>               
                {{entry.name}}
                </a>
            <h3>
            <h3 class = "entry-date">
                {{entry.date}}
            </h3>
            </div>
        <audio controls src="{{entry.recording.url}}" style="width:100%"></audio><br>

        {% if entry.authors.all%}
        {% for author in entry.authors.all %}
        <a href = "{{request.path}}?author={{author.author.display_name}}">{{author.author.display_name}}</a>
        {% endfor %}
        {% else %}
        No Authors
        {% endif %}
        <br>
 

        {% if entry.tags.all %}
        Tags: {% for tag in entry.tags.all %}
        <a href = "{{request.path}}?tag={{tag.name}}">{{tag.name}}</a> |
        {% endfor %}
        {% else %}
        No Tags
        {% endif %}
        <br>


        </div>
    </div>

    <div class = "row collapse" id = "collapse-{{entry.id}}">
        <div class = "col">
        <h3> Description </h3>
        <p>
        {{entry.desc}}
        </p>

        <h3>Attachments</h3>
        <ul>
        {% if entry.attachments.all%}

            {% for attach in entry.attachments.all %}
            <li><a href="{{attach.file.url}}"> {{attach.filename}} </a><br></li>
            {% endfor %}
        {% else %}
            No Attachments
        {% endif %}
        </ul>

        <h3>Associated Repositories</h3>
        <ul>
        {% if entry.repo_attachments.all%}

            {% for attach in entry.repo_attachments.all %}
            <li>{{attach.filename}}<br></li>
            {% endfor %}
        {% else %}
            No Associated Repositories
        {% endif %}
        </ul>



        </div>
    </div>

</div>
