<div style="display:inline-block;" >
<h1>
{%if choice == 'index'%}<span class="headersel"></span>{%endif%}<!--
--><a href = "{% url 'patches:index' %}" class="home-link ">Audio Files</a>
<div class="headerdiv"></div>
{%if choice == 'compare'%}<span class="headersel"></span>{%endif%}<!--
--><a href = "{% url 'patches:compare'%}" class="home-link">File Comparison</a>
<div class="headerdiv"></div>
{%if choice == 'tags'%}<span class="headersel"></span>{%endif%}<!--
--><a href = "{% url 'patches:tags'%}" class="home-link">Tags</a>
</h1>
</div>
<div style="float:right;position:relative;bottom:-1.5em;">
<div class="custom-control custom-switch" style="visibility:hidden;" id="autoplaydiv">
    <input type = "checkbox" class="custom-control-input" id="autoplayswitch">
    <label class="custom-control-label" for="autoplayswitch">Autoplay</label>
</div>
</div>

