{% extends "patches/base.html" %}

{% block title %}
Audio Files
{% endblock %}

{% block body %}
<div class="container entry-list">
    <div class="col-auto entry-header">
        <h1><a href = "{{request.path}}" class="home-link">Audio Files</a></h1>
        {% if author %}
            <div class = "row author-info" >

                <div>
                {% if author.author.author_image %}
                <img src="{{author.author.author_image.url}}" width=256 />
                {% endif %}
                </div>

                <div>
                <h2>{{author.author.display_name}}</h2>
                <h3>External Links</h3>
                {% if author.author.links %}
                <ul>
                    {% for link in author.author.links.all %}
                    <li>
                        <a href="{{link.url}}">{{link.url}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                </div>
            </div>
        {% endif %}

    </div>

    {% if patch_entries %}
        {% for entry in patch_entries %}
            {% include "patches/entry.html" with entry=entry collapse=True %}
        {% endfor %}
    {% else %}
    Nothing
    {% endif %}
</div>

{% endblock %}
