{% extends "patches/base_list.html" %}
{% load tttcms_tags %}

{% block title %}
Audio Files
{% endblock %}

{% block list_body %}
    <div class="col-auto entry-header">
        {% include "patches/header.html" with choice="index" rss_feed="patches:rss"%}

        {% if author %}

            <div class = "row author-info" >

                <div>
                {% if author.author_image %}
                <img src="{{author.author_image.url}}" class="author-thumbnail" />
                {% endif %}
                </div>

                <div>
                <h2>{{author.display_name}}</h2>
                <h3>External Links</h3>
                {% if author.links %}
                <ul>
                    {% for link in author.links.all %}
                    <li>
                        <a href="{{link.url}}">{{link.url}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    {% include "patches/pages.html" %}

    {% if patch_entries %}
        {% for entry in patch_entries %}
            {% include "patches/entry.html" with entry=entry collapse=True %}
        {% endfor %}
    {% else %}
    Nothing
    {% endif %}

    {% include "patches/pages.html" %}

{% endblock %}
