{% extends "patches/base.html" %}

{% block title %}
Audio Files
{% endblock %}

{% block body %}
<div class="container entry-list">
    <div class="col-auto entry-header">
        <h1><a href = "{{request.path}}">Audio Files</a></h1>
        {% if author %}
            <h2>{{author.author.display_name}}</h2>
            <h3>External Links</h3>
            <ul>
            </ul>
        {% endif %}

    </div>

    {% if patch_entries %}
        {% for entry in patch_entries %}
            {% include "patches/entry.html" with entry=entry collapse=True %}
        {% endfor %}
    {% else %}
    Nothing
    {% endif %}
</div>

{% endblock %}
