{%load tttcms_tags%}
{% if page_obj.paginator.num_pages > 1 %}

<div style="border-bottom: 1px solid black;display:inline-flex;width:100%">

    <!-- Left side arrows -->
    <div class="page-wrapper-right">
        <div class="page-container page-border-right">
        <a href = 
"{% url 'patches:index' %}{% format_querystring request.GET page='1'%}"
        >
            &lt;&lt;
        </a>
        </div>

        <div class="page-container page-border-right">       
        <a href = 
        {%if page_obj.has_previous %}
"{% url 'patches:index' %}{% format_querystring request.GET page=page_obj.previous_page_number%}"
        {% else %}
"{% url 'patches:index' %}{% format_querystring request.GET page=None%}"
        {%endif%}
        >
            &lt;
        </a>
        </div>
    </div>

    <!-- Central Page Buttons -->

    <div class="page-wrapper-center">
        <div style="display:inline-flex;position:absolute;
            left:min(calc(50% - 1em - (2em) * ({{page_obj.number}} - 1)), -1px);
            ">
            {% for index in page_obj.paginator.page_range %}
            <div class="page-container 
                page-border-left
                
                " {%if forloop.last %}style="border-right:1px solid black;"{%endif%}> 
                <a href = 
                "{% url 'patches:index' %}{% format_querystring request.GET page=index%}"
                   {% if index == page_obj.number %}
                   style="text-decoration:underline"
                   {%endif%}
                >
                {{index}}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Right Arrows -->

    <div class="page-wrapper-right">
        <div class="page-container page-border-left">
        <a href = 
       {%if page_obj.has_next%}   
"{% url 'patches:index' %}{% format_querystring request.GET page=page_obj.next_page_number%}"
        >
        {%else%}
"{% url 'patches:index' %}{% format_querystring request.GET page=page_obj.paginator.num_pages%}"
        {%endif%}
            &gt;
        </a>
        </div>

        <div class="page-container page-border-left">
        <a href = 
"{% url 'patches:index' %}{% format_querystring request.GET page=page_obj.paginator.num_pages%}">
            &gt;&gt;
        </a>
        </div>
    </div>

</div>

{% endif %}


