.entry-list{
    border: 1px black;
    border-style: none solid none solid;
    padding-left:0;
    padding-right: 0;
}
.entry {
	border: 1px black;
	border-style: solid none solid none;
	padding-top: 10px;
	padding-bottom:10px;
}
.entry:hover {
	background-color: #cccccc;
}
.entry-top{
	position:relative;
	display:flex;
	flex-direction:row;
}
.thumbnail {
	height: 128px;
	width: 128px;
	object-fit:cover;
	vertical-align:middle;
}
